In [ ]:
Agenda :=

1.Covariance
2.Pearson Correlation Coefficent
3.Sprearman Rank correlation Coefficent
4.Chi_square test {"categorical"}
5.Anova test or F_test


**Covariance :=
    
    
 X                   y 
-----               ------
weight              height 
50                   160cm
60                   170cm
70                   180cm
75                   181cm

 [The quantifying the relationship B/W X and Y]
    
    like "X" is increasing "Y" is increasing 
         "X" is increasing "Y" is decreasing
         "X" is decreasing "Y" is increasing
         "X" is decreasing "Y" is decreasing
        
        so after seeing X & Y axis we need to provide
        some value to it
        when we are able to provide value to it that
        basically means we are able to Quantified
        that relation ship
   
 @Covariance_Formula :=
        
                     n   (Xi - x̄)(Yi - ȳ)
         Cov( x,y) = ∑ --------------------
                    i=1      N - 1
            
        Note :   x̄ mean mean of X   ȳ means mean of Y
            
     Note : covariance(x,y) is nothing but
            covariance of (x,x)       
            
              n    (xi-x̄)²          n   (x-x̄)*(x-x̄)
    Var(x) =  ∑  ----------   ==>   ∑ -------------   
             i=1    n-1            i=1      n-1
        
                       n (x-x̄)*(x-x̄) 
            Cov(x,x) = ∑  -----------
                      i=1      n-1
                
    covariance it is basically talk about 2 variable x,y 
    
                
    we will get eithe +ve -ve or eithe 0
    what does the +ve nomber indicates:=
        
        this is nothing but +ve correlation or coveriance
       "x" is increasing "y" is increasing
       "x" is decreasing "y" is decreasing
        
    what does the -ve number indicates:= 
        
        this is nothing but -ve correlation or coveriance   
       "x" is decreasing "y" is increasing
       "x" is increasing "y" is decreasing

    
        
    
      N   (xi-µ)²                        n   (xi-x̄)²
σ² =  ∑   ------                   s² =  ∑   ------
     i=1     N                          i=1    n-1   
    
    
               n   (xi-x̄)²
    Cov(x,x) = ∑ ---------- 
              i=1   N - 1 
        
                n  (xi-x̄)²     n  (xi-x̄)*(xi-x̄) 
        Var_x = ∑ --------- =  ∑ --------------
               i=1  N - 1     i=1     N-1
            
            
                 n  (xi-x̄)*(xi-x̄) 
        Cov(x) = ∑ --------------
                i=1     N - 1 
            
            Ex : X          Y
                 2          3 
                 4          5
                 6          7
              ----------------      
                x̄=12/3     ȳ= 15/3
                
                x̄ = 4   ȳ = 5 insert this values into Covariance
                
                
                     n   (Xi - x̄)(Yi - ȳ)
          Cov(x,y) = ∑ --------------------
                    i=1       N - 1
            
                  n  (2-4)(3-5)+(4-4)(5-5)+(6-4)(7-5) 
        Cov_x,y = ∑ ----------------------------------
                 i=1              2
            
                  n  (-2)(-2)+0+(2)(2)      8
        Cov_x,y = ∑ -------------------- = --- = 4
                 i=1          2             2
            
Disadantage of Coveriance :=  
    
    if i am getten some value with the help of covariance x,y
    we will either get a possitive or nagetive corelation
    
    what about this condition   :
    
         "X" is increasing "Y" is decreasing
         "X" is decreasing "Y" is increasing  
            it will be a Negative correlation it 
            always have Negative values
             like we get 688 , -766 ,200, -22 there no
            limit how much possive how much negative
            we get so we should try to "Restric" it with 
            some specific value like [ -1 to 1] this is
            been done by another Correlation called 
            Pearson correlation Coefficent.
    
            
2.Pearson Correlation Coefficent :=
    
    The more towords +1 more positively correlation
    The more towords -1 more negatively correlated
    
             Cov[x,y]
    ρ x,y = ------------  B-coz of this it will try to get 
             σx   σy      restricted B/w -1 to 1 
                          The more the value towords 1 more 
                          +ve it is correlated 
                
       i have Data_set like = 1000 Features
    do you feel you will be use all the 1K feature in ML 
    ANS := no 
    
features like    X Y Z A B C   o/p 
                  which feature i actually use?
                  which will actually help me to predict 
                  my output feature o/p feature is my
                  Dependent feature. dependent feature is 
                nothing but my final o/p i need to find this
                by using independet features
                  x y z a b c Independent Features
            independent and dependent like x , o/p feature highly
            correlate like positivly corelated we should keep that 
            x , y both features 99% correlated means 2 features are 
            same corelated so i can delete one feature and use one
            only. y feature incresing o/p feature is decresing that
            bassically means nagetivly corelated so here we should
            also keep this. 
            
        
                
3.Spearman Rank Corelation :=
   
    in Spearman Rank Corelation we bassically createts Rank

according to spearmans rank correlation we are able to get 
1 but pearson correlation when we find out the formula
its  0.88

          Cov(R(x),R(y))
    rs = -----------------
          σR(x)   σR(y)
        
                            choose the rank of x ,y  here
                              x     y    Rx   Ry
                              1     2     4    4
                              3     4     3    3
                              7     5     2    2
                              0     7     5    1
                              8     1     1    5
                             ----------    
                              skip this
                                
Why do you use Spearman Rank Corelation:=
    it captures the Non linear Properties

# Chi_Square_test

In [ ]:
IMP := test                 
    $$$$$$$$$$$$$$$          
    Chi_Square_test :=
    $$$$$$$$$$$$$$$    
        
        The Chi_Square_test clams about Populations
        and Propotions. it is a Non Porametric test
        that is performed on "Cotegorical" variable
        it can be (nominal or ordinal) data.
        
    {IQ} in the 2000 inian censes the ages of indivisuals 
         in small town were found to be the following
        
    
   |--------------------------------|
   |  <18    |   18-35     |   >35  |   
   |---------|-------------|--------|
   |   20%   |    30%      |   50%  |               
   |--------------------------------|    
    
    
    In 2010 , ages of  n=500 individuals were sample
    below are the results
    
    
   |--------------------------------|
   |  <18    |   18-35     |   >35  |   
   |---------|-------------|--------|
   |   121   |    288      |   91   |               
   |--------------------------------|

    using Significance_V α = 0.05 would you conclude the population 
    distribution of ages has changed in the last 10 years?
                  ---------------------------------
 Ans :=           |  <18   |    18-35    |    >35 |
                  |--------|-------------|--------|--   
    expected      |  20%   |    30%      |   50%  |
                  ---------------------------------
        if you need expected values so multyply
        sample n=500 with percentage values 
                  ---------------------------------
                  |  <18   |    18-35    |    >35 | 
                  |--------|-------------|--------|
    obsered table | 121    |    288      |   91   |
     n=500        ---------------------------------
  Expected values |  100   |     150     |   250  |
                  ---------------------------------
    
so here  α = 0.05  so confidence interwell C.I = 95%
    
    
    1. H0 = the data meets the expected distribution 2000 census
    2. H1 = the data dont meets the expected distribution 2000 census
    
2.step :=
    State the alpha Significance Value(α)  so C.I = 95%
    
3.step :=
    Calculate the degree of fredom

        df = n-1 = 3-1 = 2   --> rejon we have 3 cotegeris
        after seeing df = 2 and α = 0.05 values in chi_squre 
        table my value will be 5.991
        
        when ever you have columns and row data so
        you can use degree of freedom formula is 
          ==>  (n-1)*(m-1)
        
step 4 :=
    dission rule : X²  is greater then 5.991 then
           reject the Null hypothesis 
            
            now go and apply test statistics value
            
step 5 :             (f0 - fe)²      (obsered - expected)²
           X² =   ∑ ------------- = ----------------------
                        fe                expected
            
         (121 - 100)²      (280 - 150)²      (91 - 250)²
    ∑ ---------------- +  -------------- + -------------
            100               150              250
        
        
        441    16900     25281
        ---- + ------ + ------- = 218.2006
        100     150       250
         X² = 232.494 
            
    dission rule : 218.2006  is greater then 5.991 then
           reject the Null hypothesis
            Ans : reject the Null hyppothesis
                
                
{IQ}
A school principal would like to know which days of the 
week students are most likely to be absent. the principal
expects the students will be absent equally during the 5
day school week the principal select a random sample of
100 teachers asking them which day of the week they had 
the highest number of student absent the observed and
expected result are shown in the table below based  on 
table results do the days for the highest number access
occured with equal freaquency use (95%) C.I

          monday     tuesday    wednessday   thusday    friday
observed   23           16         14           19          28
expected   20           20         20           20          20  

n=100      20           20         20           20          20
 
    
so here  α = 0.05  so confidence interwell C.I = 95%

              df = n-1 = 5-1 = 4   --> regan we have 5 cotegeris
          after seeing 4 and α = 0.05 values in chi_squre 
        table my value will be 9.488
        
        
step 5 :             (f0 - fe)²      (osered - expected)²
           X² =   ∑ ------------- = ----------------------
                        fe                expected
            
         (23 - 20)²       (16 - 20)²         (14 - 20)²     (19 - 20)²       (28 - 20)²
    ∑ ---------------- + -------------- +  ------------- +  ----------- +  ------------ 
            20                 20              20                20            20            
        
        
        9     16      36      1      64
       --- + ---- +  ----- + ---- + ----- = 0.45+0.8+1.8+0.05+3.2 = 6.3
        20    20      20      20     20  
        
        X² = 6.3
    dission rule : 6.3  is greater then 9.488 then
           reject the Null hypothesis
            Ans : accept the Null hyppothesis 
                
                
  Statistics :=
    Data Analist , Data Scientist
    
    Analysis :  Dcriptive  Inferential

In [ ]:
5.99> then we reject

In [1]:
import seaborn as sns
import numpy as np

In [2]:
df=sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## findind correlation of tips data_set

In [4]:
df.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

# finding the spearman correlation

In [5]:
df.corr(method='spearman')

            total_bill       tip      size
total_bill    1.000000  0.678968  0.604791
tip           0.678968  1.000000  0.468268
size          0.604791  0.468268  1.000000

# finding the correlation of pearson

In [6]:
df.corr(method='pearson')

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

# now finding Coveriance

In [10]:
df.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591

In [7]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'taxis',
 'tips',
 'titanic']

In [15]:
l=sns.get_dataset_names()
len(l)

19

In [8]:
sns.load_dataset("iris")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [10]:
df1=sns.load_dataset("iris")
df1.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [12]:
df1.corr(method="spearman")

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.166778      0.881898     0.834289
sepal_width      -0.166778     1.000000     -0.309635    -0.289032
petal_length      0.881898    -0.309635      1.000000     0.937667
petal_width       0.834289    -0.289032      0.937667     1.000000

In [13]:
df1.corr(method="pearson")

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [16]:
df1.cov()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      0.685694    -0.042434      1.274315     0.516271
sepal_width      -0.042434     0.189979     -0.329656    -0.121639
petal_length      1.274315    -0.329656      3.116278     1.295609
petal_width       0.516271    -0.121639      1.295609     0.581006